{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<p>
  <i class="fas fa-arrow-right"></i>
  <div class="cyclerBody">
      <img class="cycler">
  </div>
  <i class="fas fa-arrow-left"></i>
</p>
{% endblock %}
