{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<p>
<h1>Here is a selection of beers</h1>
<div class="gallery">  </div>
</p>
{% endblock %}

<div class="card-beer">
  <div class="beer-name"></div>
  <div class="beer-tag"></div>
  <div class="beer-year"></div>
  <img class="beer-image">
